<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <title>Minty Login</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="column is-half is-variable box">
                <div class="submission">
                    
                    
                        <div class="field">
                            <label for="username" class="label">Username</label>
                            <div class="control">
                                <input type="text" id="username" class="input">
                            </div>
                            
                        </div>
                        <div class="field">
                            <label for="password" class="label">Password</label>
                            <div class="control">
                                <input type="text" id="password" class="input">
                            </div>
                        </div>
                        <div class="has-text-centered">
                            <button class="button is-primary is-link" id="login-btn">Submit</button>
                        </div>
                        
                    
                    <div class="section">
                        <div id="reg-error-msgs"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <p><a href="reimb-approve.html">Approve-Mint</a></p>
    <p><a href="reimb-submit.html">Submit Mints</a></p>


    <script src="login.js"></script>
</body>
</html>